@font-face{
    font-family: Audiowide;
    src: url(fonts/Audiowide-Regular.ttf);
}

body {
    background-color: #eedabfff;
    margin: 0;
}

p {
    font-family: 'Audiowide';
    font-size: 2em;
    text-align: center;
    color: #7b3200ff;
}

.header{
    display: flex;
    flex-direction: column;
}

.stripe1{
    align-items: center;
    background-color: #7b3200ff;
    display: flex;
    flex: 1 1 4vw;
    justify-content: center;
}
.stripe2{
    background-color: #eb5e16ff;
    flex: 1 1 2vw;
}
.stripe3{
    background-color: #f08a26ff;
    flex: 1 1 2vw;
}

.title{
    color: white;
    font-family: 'Audiowide';
    font-size: 3vw;
}

.content{
    display: flex;
    justify-content: space-around;
}

.input-boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    margin-left: -10px;
    margin-top: 12vw;
    gap: 15%;
    flex: 1 1 100px;
}

.input-boxes input {
    width: 80%;
    height: 5vw;
    font-family: 'Audiowide';
    font-size: 2vw;
    text-align: center;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 4px;
    border-color: #f08a26ff;

}

input::placeholder{
    font-size: 2vw;
    text-align: center;
    color: rgb(0, 0, 0);
}

input:focus::placeholder{
    opacity: 0;
}

.input-boxes button {
    font-family: 'Audiowide';
    font-size: 2vw;
    text-align: center;
    color: #7b3200ff;
    background-color: #eedabfff;
    border-color: #eedabfff;
    border-style: solid;
    margin-top: -2vw;
}

button:hover {
    color: #f08a26ff;
    cursor: pointer;
}

#record {
    height: 75%;
    margin-top: 0vw;
    margin-left: 40px;
    width: 100%;
}

.svg {
    display: flex;
    width: 50%;
    align-items: center;

}