.carousel {
    width: 100%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center; 
    margin-top: 2vw;
}

.carousel-container {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;

}

.carousel-inner {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    z-index: 0;
    border-radius: 1vw;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-width: 0.3vw; 
    border-style: solid;
    border-color: #e7e0c2;
    width: 1vw; 
    height: 1vw; 
}

.carousel-item.index-1 {
    left: 3%;
    opacity: 1;
    width: 13vw;
    height: 13vw;
    margin-top: 8vw;
}


.carousel-item.index-2{
    left: 13.5%;
    width: 18vw;
    height: 18vw;
    opacity: 1;
    z-index: 1;
    margin-top: 4vw;
}

.carousel-item.index-3 {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 23vw;
    width: 23vw;
    opacity: 1;
    left: 27.5%;
    z-index: 2;
}

.carousel-item.index-4 {
    left: 47.5%;
    width: 18vw;
    height: 18vw;
    opacity: 1;
    z-index: 1;
    margin-top: 4vw;
}

.carousel-item.index-5 {
    left: 63%;
    opacity: 1;
    width: 13vw;
    height: 13vw;
    margin-top: 8vw;
}

.carousel-item img {
    border-radius: 0.8vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    display: flex;
    justify-content: center; 
    margin-top: 2vw; 
}



.carousel-controls {
    display: flex;
    justify-content: center; 
    position: absolute;
    bottom: -42vw; 
    left: -10vw;
    width: 100%;  
}

.carousel-controls button {
    background: none;
    border: none;
    color: #e7e0c2;
    font-size: 2vw; 
    cursor: pointer;
    margin: 0 2vw; 
    padding: 0.5vw 2vw;
    text-transform: capitalize;
    transition: transform 0.2s ease;
    

}

.carousel-controls button:hover {
    transform: scale(1.2); 
}



.track-info {
    font-family: 'Mirage';
    position: absolute;
    margin-top: 2vw;
    left: 0;
    right: 0;
    
}

.track-info p {
    font-family: 'Mirage';
    left: 0;
    right: 0;
    color: #e7e0c2;
    font-size: 0vw;
    margin-top: -0.2vw;
    text-align: center;
    padding-left:2vw;
    padding-right:2vw;
}

.carousel-item.index-1 .track-info .track-name {
    font-size: 1vw;
    margin-top: -1vw;
}

.carousel-item.index-1 .track-info .track-artist {
    font-size: 0.4vw;
}

.carousel-item.index-2 .track-info .track-name {
    font-size: 1.5vw;
    margin-top: -0.5vw;
}

.carousel-item.index-2 .track-info .track-artist {
    font-size: 0.9vw;
}

.carousel-item.index-3 .track-info .track-name {
    font-size: 2vw;
}

.carousel-item.index-3 .track-info .track-artist {
    font-size: 1.4vw;
}

.carousel-item.index-4 .track-info .track-name {
    font-size: 1.5vw;
    margin-top: -0.5vw;
}

.carousel-item.index-4 .track-info .track-artist {
    font-size: 0.9vw;
}

.carousel-item.index-5 .track-info .track-name {
    font-size: 1vw;
    margin-top: -1vw;
}

.carousel-item.index-5 .track-info .track-artist {
    font-size: 0.4vw;
}

.track-name {
    /* Styles for track name */
    font-family: 'Mirage';
    font-size: 1.7vw; /* Adjust as needed */
    color: #e7e0c2;
    margin-bottom: 5px; /* Space before the artist */
}

.track-artist {
    /* Styles for track artist */
    font-family: 'SloopScript'; /* Different font */
    font-size: 1.5vw; /* Adjusted font size */
    color: #e7e0c2;
    margin-top: 0; /* Adjust spacing as needed */
}


.song-display {
    text-align: center;
    margin-top: -1.5vw;
}

.tune-phrase-top{
    font-family: 'Mirage';
    color: #e7e0c2;
    font-size: 3.5vw;
    font-weight: thin;
}
.tune-phrase-bottom{
    font-family: 'Mirage';
    color: #e7e0c2;
    font-size: 3.5vw;
    font-weight: thin;
    margin-top: -0.5vw;
}

.song-info {
    display: inline-block;
    text-align: center;
}

.song-cover {
    border-radius: 1vw;
    width: 20vw; 
    height: 20vw; 
    object-fit: cover;
    margin-top: -1.8vw;
    border-width: 0.3vw; 
    border-style: solid;
    border-color: #e7e0c2;
}

.song-title {
    font-family: 'Mirage';
    font-size: 2vw;
    font-weight: thin;
    color: #e7e0c2;
    margin-top: 11px;
}

.song-artist {
    font-family: 'SloopScript';
    font-size: 3vw;
    color: #e7e0c2; 
    margin-top: -1vw;
}

