@font-face{
    font-family: 'SloopScript';
    src: url(static/fonts/Sloop-ScriptThree.ttf);
}

@font-face {
    font-family: 'Seasons';
    src: url(static/fonts/Fontspring-DEMO-theseasons-reg.otf);
}

body{
    background: #253043;
    margin: 0;
}

p {
    font-family: 'SloopScript';
    font-size: 3.5vw;
    text-align: center;
    color: #e4ddb9;
}


.header{
    display: flex;
    flex-direction: column;
}

.stripe1{
    align-items: center;
    background-color: #0f141c56;
    display: flex;
    flex: 1 1 1vw;
    height: 11.3vw;
    justify-content: center;
}


.title{
    color: #e4ddb9;
    font-family: 'SloopScript';
    font-size: 10vw;
    font-weight: 20;
    text-shadow: -7px 1px 0px #394965c3;
}

.content{
    display: flex;
    justify-content: space-around;
}

.form-container{
    width: 55%;
}

.text-by p{
    height: 2.3vw;
    margin-top: 1vw;
}

.input-boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    margin-left: -30px;
    margin-top: 6vw;
    flex: 1 1 100px;
    margin-bottom: 7vw;
}

.input-boxes input {
    width: 90%;
    height: 6vw;
    font-family: 'Seasons';
    font-size: 4vw;
    text-align: center;
    color: #e4ddb9;
    border-style: solid;
    border-width: 0px;
    background-color: #0f141c20;
    font-weight: 20;
    transition: 0.2s ease;
    border-radius: 1vw;
}

input::placeholder{
    font-size: 3.5vw;
    text-align: center;
    color:#e4ddb9;
    font-weight: 20;
    transition: 0.2s ease;
}

input:focus::placeholder{
    opacity: 0;
    transition: 0.2s ease;
    background-color: #0f141c20;
}


.form-container button {
    font-family: 'SloopScript';
    font-size: 6vw;
    text-align: center;
    color: #e4ddb9;
    background-color: #253043;
    border-color: #253043;
    border-style: solid;
    font-weight: 20;
    text-shadow: -7px 1px 0px #394965c3;
    margin-top: -2vw;
    margin-left: -12vw;
    transition: 0.1s ease;
}

button:hover {
    cursor: pointer;
    font-size: 6.05vw;
    transition: 0.1s ease;
    text-shadow: -7px 1px 0px #51678dcc;
}

#mic {
    margin-top: 0vw;
    margin-left: 0px;
    width: 80%;
}

.image {
    display: flex;
    width: 45%;
    align-items: center;
}