@font-face{
    font-family: 'SloopScript';
    src: url(fonts/Sloop-ScriptThree.ttf);
}

@font-face {
    font-family: 'Mirage';
    src: url(fonts/Mirage.otf);
}

body{
    background: #394965;
    margin: 0;
}

p {
    font-family: 'SloopScript';
    font-size: 3.5vw;
    text-align: center;
    color: #e7e0c2;
}


.header{
    display: flex;
    flex-direction: column;
}

.stripe1{
    background-color: #0f141c56;
    display: flex;
    flex: 1 1 1vw;
    height: 8.4vw;
    justify-content: left;
    align-items: center;
}


.title{
    color: #e7e0c2;
    font-family: 'SloopScript';
    font-size: 8vw;
    font-weight: 20;
    text-shadow: -7px 1px 0px #394965;
    padding-left: 30vw;
}

.logo{
    font-size: 8vw;
    padding-left: 4vw;
    outline: none;
    border: none;
    text-decoration: none;
}

a {
    outline: none; 
    text-decoration: none;
}

a:focus, a:active{
    outline: none;
    box-shadow: none;
}

.logo:hover{
    cursor:pointer;
}

.content{
    display: flex;
    justify-content: space-around;
}

.form-container{
    width: 55%;
}

.text-by p{
    height: 2.3vw;
    margin-top: 1vw;
}

.input-boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    margin-left: -30px;
    margin-top: 6vw;
    flex: 1 1 100px;
    margin-bottom: 7vw;
}

.input-boxes input {
    width: 90%;
    height: 6vw;
    font-family: 'Mirage';
    font-size: 4vw;
    text-align: center;
    color: #e7e0c2;
    border-style: solid;
    border-width: 0px;
    background-color: #0f141c20;
    font-weight: 20;
    transition: 0.2s ease;
    border-radius: 1vw;
}

input::placeholder{
    font-size: 3.5vw;
    text-align: center;
    color:#e7e0c2;
    font-weight: 20;
    transition: 0.2s ease;
}

input:focus::placeholder{
    opacity: 0;
    transition: 0.2s ease;
    background-color: #0f141c20;
}


.form-container button {
    font-family: 'SloopScript';
    font-size: 6vw;
    text-align: center;
    color: #e7e0c2;
    background-color: #394965;
    border-color: #394965;
    border-style: solid;
    font-weight: 20;
    text-shadow: -7px 1px 0px #394965c3;
    margin-top: -2vw;
    margin-left: -12vw;
    transition: 0.1s ease;
}

button:hover {
    cursor: pointer;
    font-size: 6.05vw;
    transition: 0.1s ease;
    text-shadow: -7px 1px 0px #51678dcc;
}

#mic {
    margin-top: 0vw;
    margin-left: 0px;
    width: 80%;
}

.image {
    display: flex;
    width: 47%;
    align-items: center;
}

/* ----- */
