{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
<div class="song-display">
    <p class="tune-phrase-top">Your tune:<p>
    {% if song_name and song_artist and song_cover_url %}
        <div class="song-info">
            <img src="{{ song_cover_url }}" alt="{{ song_name }}" class="song-cover">
            <p class="song-title">{{ song_name }}</p>
            <p class="song-artist">by {{ song_artist }}</p>
        </div>
    {% else %}
        <p>No song details available.</p>
    {% endif %}
    <p class="tune-phrase-bottom">Is twinning with...</p>
</div>
<div class="carousel">
    <div class="carousel-container">
        <div class="carousel-inner">
            {% for track in tracks %}
                <div class="carousel-item">
                    <img src="{{ track['album']['images'][0]['url'] }}" alt="{{ track['name'] }}">
                    <div class="track-info">
                        <p>{{ track['name'] }}</p>
                        <p>by {{ track['artists'][0]['name'] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="carousel-controls"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='carousel.js') }}"></script>
{% endblock %}
