{% extends "base.html" %}
 {% block content %}
 <div class="content">
    <div class="image">
        <img src="static/images/tunetwinpic.jpg" id="mic">
    </div>
    <div class="form-container">
        <form class='form' method="POST" action="/find-twin">
            <div class="input-boxes">
                <input type="text" name="song" placeholder="Enter the song name" required/>
                <div class="text-by">
                    <p>by</p>
                </div> 
                <input type="text" name="artist" placeholder="Enter the artist name" required/>
            </div>
            <button type="submit">Find your tune's twin</button>
        </form>
    </div>
</div>
 {% endblock %}